<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-list</title>
</head>
<body>
    <h1>Bem vindo ao To-do-list {{ username }}</h1>
    <table style="border-collapse: collapse; width: 50%; margin-bottom: 50px;">
        <tr style="background-color: #00778b; color: white;">
            <th style="border: 2px solid #dddddd; padding: 10px; text-align: start;">
                A fazer
            </th>
        </tr>
        {% if todo_tasks %}
            {% for task in todo_tasks %}
            <tr style="background-color: #333333; color: white;">
                <th style="border: 2px solid #dddddd; padding: 10px;">
                    -{{ task }}
                </th>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <table style="border-collapse: collapse; width: 50%; margin-bottom: 50px;">
        <tr style="background-color: #00778b; color: white;">
            <th style="border: 2px solid #dddddd; padding: 10px; text-align: start;">
                Em progresso
            </th>
        </tr>
        {% if progress_tasks %}
            {% for task in progress_tasks %}
            <tr style="background-color: #333333; color: white;">
                <th style="border: 2px solid #dddddd; padding: 10px;">
                    -{{ task }}
                </th>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <table style="border-collapse: collapse; width: 50%; margin-bottom: 50px;">
        <tr style="background-color: #00778b; color: white;">
            <th style="border: 2px solid #dddddd; padding: 10px; text-align: start;">
                Concluida
            </th>
        </tr>
        {% if complete_tasks %}
            {% for task in complete_tasks %}
            <tr style="background-color: #333333; color: white;">
                <th style="border: 2px solid #dddddd; padding: 10px;">
                    -{{ task }}
                </th>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <h3><a href="{{ url_for('add_task') }}">Adicione aqui sua tarefa</a></h3>
</body>
</html>