<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-list</title>
</head>
<body>
    <h1>Bem vindo ao To-do-list</h1>
    <div>
        <a style="background-color: darkgray; padding: 15px 30px; border-radius: 5px; text-decoration: none;" href="{{ url_for('login') }}">Fazer login</a>
        <a style="background-color: darkgray; padding: 15px 30px; border-radius: 5px; text-decoration: none" href="{{ url_for('register') }}">Cadastro</a>
    </div>
</body>
</html>