{% extends 'base.html' %}

{% block title %}
<title>To-do-list Login</title>
{% endblock %}

{% block content %}
    <div class="m-3">
        <h1 class="text-center m-2">Bem-vindo!</h1>
        <p class="text-center fs-4">Entre com suas credencias</p>
        <form class="w-50 mx-auto" method="POST">
            <div class="m-2">
                <label for="nome" class="form-label text-start fw-bold">Usuário:</label>
                <input type="text" name="username" class="form-control"/>
            </div>
            <div class="m-2">
                <label for="senha" class="form-label fw-bold">Senha:</label>
                <input type="password" name="password" class="form-control"/>
            </div>
            <div class="d-flex justify-content-center m-3">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>
        </form>
        <p class="text-center mb-1 pt-2 fw-bold">Não tem cadastro? <a class="text-decoration-none" href="{{ url_for('user.register') }}">Cadastre-se aqui!</a></p>
    </div>
{% endblock %}