<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-list</title>
</head>
<body>
    <h1>Faça seu cadastro !</h1>
    <form method="POST">
        <div>
            <label for="nome">Usuário:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input type="password" name="password"/>
        </div>
        <button type="submit">Cadstro</button>
    </form>
</body>
</html>